body {
	background-image: url(https://docviewer.yandex.ru/view/0/htmlimage?id=l7-hismyv7ec1hsdhpezu0i73gc7fbxrmak2fwbp0574fa5ra908a8atnlzya5oyw3ztphjuvldkmnjcekeuznjuq765dhktdz6z7x&name=image-Uv18ieu16DzJAJxdCY.png&dsid=71f9534ed439ac2312147fdd2d820dbc);
	font-family: sans-serif;
	font-size: 30px;
}
.text1{
	font-family: Arial
}
.url{
	
}
.button{
	background: #FF921D;
}
td{
	background: white;
}
